{% extends "layout.html" %}



{% block body %}
<div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
                            <!-- Post categories-->
                            <div class ="text-muted fst-italic mb-3">By {{article.author}}</div>
                        </header>

                        <!-- Preview image figure-->
                        {% if article.article_image %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>

                        {% endif %}
                        <!--Post content-->
                        <section class="mb-5">
                            <p>
                            {{article.content|safe}}
                            
                            </p> 
                        </section>

                        {% if comments %}
                        <hr>
                        <h4>Yorumlar</h4>
                        <hr>

                        {% for comment in comments  %}
                        <div class="d-flex">
                        <br/>
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <h5 class="mt-0">&nbsp{{comment.comment_author}}</h5>
                                                {{comment.comment_date}}<br>
                                                {{comment.comment_content}}
                                    </div>
                                </div>
                        {% endfor %}
                        
                        {% else %}
                        <div class = "alert alert-danger">
                        Bu makalenin hiç yorumu yok! İlk yorum yapan siz olun.
                        </div>

                        {% endif %}
                        <form method = "post" action = "{% url 'article:comment' article.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">İsim</label>
                    <input name= "comment_author" type="text" class="form-control" placeholder="İsminizi girin...">
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Yorum</label>
                    <textarea name="comment_content" class="form-control"  rows="3" placeholder="Yorumunuzu girin"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" type="button">Paylaş</button>

            </form>

            </article>                        
                
                </div>

                
     
                            
                                

{% endblock body %}